body {
  margin: 0;
  background-color: #fff;
}

.header {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.logo-container {
  height: 100px;
  margin: 15px 0px;
}

.menu-container {
  text-align: center;
  justify-content: center;

  a {
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif, "Gill Sans", "Gill Sans MT";
    font-weight: bolder;
    font-size: 18px;
  }
}

a:hover {
  color: orangered;
}

.img-container {
  display: flex;
  overflow-x: hidden;
  margin: 0px 50px;
}

.ban-img {
  padding-right: 33px;
}

.img-cont {
  width: 250px;
  height: 169px;
  overflow: hidden;
  flex: 1;

  .img {
    width: 100%;
    height: 100%;
  }
}

.rest-list-cont {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 30px;
  /* justify-content: space-evenly; */
}

.rest-container {
  width: 300px;
  height: auto;
  margin: 16px;
  /* border: 1px solid rgb(129, 127, 127); */
  padding: 10px;

  /* background-color: rgb(207, 195, 195); */
  h3 {
    font-weight: bold;
    /* color: orangered; */
    color: black;
  }

  .img-cont-para {
    margin-left: 20px;
    width: 250px;
    p {
      margin: 0px;
    }
  }

  .img-content-para {
    display: flex;
    h3 {
      font-weight: bold;
      margin-top: -5px;
    }
    p {
      margin: 0px;
      margin-left: 10px;
      font-weight: bold;
    }
  }
}

.search-cont {
  margin-top: 10px;
}

.filter-cont {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: rgb(96, 95, 94);
  width: 100vw;
  height: 100px;
}

.banner {
  overflow-x: scroll;
}

.img {
  border-radius: 20px;
}

.filter {
  margin: 0px 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.login-btn {
  width: 70px;
  height: 20px;
}

.login-btn,
.add-to-cart-btn {
  width: 100px;
}

.loader-cont {
  margin: 0 50px;
  height: 400px;

  h1 {
    text-align: center;
  }
}

.bg-gray {
  background-color: #ccc;
}

.main-min-height {
  min-height: 400px;
}

.rest-menu-list-cont {
  background-color: #b96868;
  width: 800px;
  height: 350px;
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
  p {
    width: 500px;
  }
}

.rest-menu-list-img {
  display: flex;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  /* margin: 10px 50px; */
}

.btn {
  position: relative;
  left: 60%;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 20px;
}

.btn:hover {
  background-color: rgb(246, 138, 98);
  color: #ccc;
}

.para {
  margin: 10px 50px;
  font-size: xx-large;
  font-weight: bold;
}
