body {
  margin: 0;
  background-color: rgb(239, 237, 234);
}

.header {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.logo-container {
  height: 100px;
  margin: 15px 0px;
}

.menu-container {
  text-align: center;
  justify-content: center;

  a {
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif, "Gill Sans", "Gill Sans MT";
    font-weight: bolder;
    font-size: 18px;
  }
}

a:hover {
  color: orangered;
}

.img-container {
  display: flex;
  overflow-x: auto;
  margin: 0px 50px;
}

.img-cont {
  width: 100%;
  height: 250px;
  overflow: hidden;
  flex: 1;

  .img {
    width: 100%;
    height: 100%;
  }
}

.main-cont {
  margin: 20px 50px;
}

.rest-list-cont {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.rest-container {
  width: 300px;
  height: auto;
  margin: 16px;
  border: 1px solid rgb(129, 127, 127);
  padding: 10px;

  background-color: rgb(207, 195, 195);
  h3 {
    font-weight: bold;
    color: orangered;
  }

  p {
    font-weight: bold;
    font-family: Arial, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 17px;
  }
}

.search-cont {
  margin-top: 10px;
}

.filter-cont {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: rgb(96, 95, 94);
  width: 100vw;
  height: 100px;
}

.banner {
  overflow-x: scroll;

  img {
    margin: 10px;
  }
}

.filter {
  margin: 0px 50px;
  display: flex;
  justify-content: space-between;
}

.login-btn {
  width: 70px;
  height: 20px;
}

.login-btn,
.add-to-cart-btn {
  width: 100px;
}

.loader-cont {
  margin: 0 50px;
  height: 400px;

  h1 {
    text-align: center;
  }
}

.bg-gray {
  background-color: #ccc;
}

.main-min-height {
  min-height: 400px;
}

.rest-menu-list-cont {
  background-color: #ccc;
  width: 400px;
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
  margin-left: 0px;
}
